@import "tailwindcss";

:root {
  margin: 0px;
  padding: 0px;

  --orange: #FF5500;
  --orange-hover: #ff1a1a;
  --blue: #0879C0;
  --gray: #F0F1F6;
  --gray-transparent: #e7eaf1bf;
  --back-black: #666666;
  --back-gray: #c9c9c9ee;
  --blur: #0000008e;
  --selected: #f7f7f7;
  --horizontal-line: #E0E0E0;
  --shadows-third-person: -5px -5px 7px white,
                           2px 2px 4px #4b75a62c,
                           0px 0px 20px #4b75a644;
  --background: #ffffff;
  --foreground: #1e1e1e;
}

@layer components {
  .title {
    @apply font-bold text-[1.5em] md:text-[2em] text-(--orange);
  }
  .buttonGallery {
    @apply p-2 text-[2em] cursor-pointer bg-(--back-gray) shadow-[0px_4px_3px_#1e1e1e48] text-(--back-black) rounded-full;
  }
}

* {
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
  transition: all 0.3s ease;
}

*:hover {
  transition: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
